module Secrets
    DOMAIN_USER         = ""
    DOMAIN_PASSWORD     = ""
    CERT_EMAIL          = ""
    DOMAIN              = ""
    DHCP_SERVER         = ""
    TRAEFIK_DOMAIN      = ""
end

module Constants
    NETWORK_PREFIX      = "192.168.0"
    POD_NETWORK         = "172.16.0.0/16"
    VAGRANT_BOX         = "mscreations/ubuntu2404"

    MASTER_NODES_COUNT  = 2
    MASTER_MAX_CPUS     = 4
    MASTER_MAX_MEMORY   = 8192  # 8GB
    
    WORKER_NODES_COUNT  = 3
    WORKER_MAX_CPUS     = 16
    WORKER_MAX_MEMORY   = 32768  # 32GB
end