---
{% if mode=="init" %}
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration

metricsBindAddress: "0.0.0.0:10249"

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

bootstrapTokens:
  - token: "{{ lookup('env', 'K8S_TOKEN') }}"
    ttl: "24h"

certificateKey: "{{ lookup('env', 'K8S_CERTIFICATE_KEY') }}"

localAPIEndpoint:
  advertiseAddress: "{{ ansible_default_ipv4.address }}"
  bindPort: 6443
---
# kubeadm ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

kubernetesVersion: >-
  {% if lookup('env', 'K8S_VERSION') is match("^\d+\.\d+$") %}
  stable-{{ lookup('env', 'K8S_VERSION') }}
  {% else %}
  v{{ lookup('env', 'K8S_VERSION') }}
  {% endif %}

{% if setup_lb %}
controlPlaneEndpoint: "{{ network_prefix }}.200:443"
{% endif %}

networking:
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"

apiServer:
  extraArgs:
    - name: profiling
      value: "false"
    - name: encryption-provider-config
      value: /etc/kubernetes/encryption-config.yaml
  extraVolumes:
    - name: encryption-config
      hostPath: /etc/kubernetes/encryption-config.yaml
      mountPath: /etc/kubernetes/encryption-config.yaml
      readOnly: true
      pathType: File

controllerManager:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"
    - name: secure-port
      value: "10257"

scheduler:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"
    - name: secure-port
      value: "10259"

etcd:
  local:
    extraArgs:
      - name: listen-metrics-urls
        value: "http://0.0.0.0:2381"

{% else %}
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ network_prefix }}.200:443"
    token: "{{ lookup('env', 'K8S_TOKEN') }}"
    unsafeSkipCAVerification: true

controlPlane:
  certificateKey: "{{ lookup('env', 'K8S_CERTIFICATE_KEY') }}"
  localAPIEndpoint:
    advertiseAddress: "{{ ansible_default_ipv4.address }}"
    bindPort: 6443

{% endif %}
